body {
  background-color: rgb(153, 156, 156);
  margin: 0;
}

.ctr-GA {
  font-family: Georgia, serif;
  text-align: center;
}

h1 {
  color: darkgreen;
  text-align: center;
}

p {
  color: black;
}

.font-tf {
  font-size: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.upper {
  text-transform: uppercase;
}

.float-left {
  float: left;
  margin: 5px 15px;
  padding: 5px;
}

.cia {
  margin: 15px;
} 

/* CSS Wars Page */

.dark {
  background-color: #111111;
}

.yellow {
  color: #E2E80F;
  text-align: center;
  font-size: 35px;
}

.white {
  color: #eeeeee;
  margin: 30px 65px;
  font-size: 25px;
}

.credits {
  text-decoration: underline;
  color: blue;
}

.credits:hover {
  cursor: pointer;
}

#film-description {
  font-size: 20px;
  font-style: italic;
}

.mvcenter {
  text-align: center;
  
}

/* Newsies page */

.centre {
  text-align: center;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.double-border {
  border: dotted black 2px;
  margin: 1% 30%;
}

.center {
  width: 850px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.extra-margin {
  margin: 1% 20%;
}

.classifieds {
  width: 25%;
  display: inline-block;
  border: solid black 2px;
  padding: 2px 10px;
  margin: 5px 10px;
}

h3 {
  text-align: center;
}

/* Color Grid page */

.grid-background {
  background-color: white;
  text-align: center;
}
.color-grid {
  text-align: center;
  margin: 2% 5%;
  box-sizing: border-box;
  font-size: 0px;
}

.pink {
  border: white 10px solid;
  background-color: pink;
  width: 91%;
  height: 200px;
  margin: 0 82px;
}

.hot-pink {
  border: white 10px solid;
  background-color: hotpink;
  display: inline-block;
  width: 22%;
  height: 200px;  
}

.blue {
  border: white 10px solid;
  background-color: rgb(91, 174, 202);
  display: inline-block;
  width: 45%;
  height: 200px;
}

.orange {
  border: white 10px solid;
  background-color: orange;
  display: inline-block;
  width: 30%;
  height: 200px;
}

.green {
  border: white 10px solid;
  background-color: green;
  display: inline-block;
  width: 60%;
  height: 200px;
}

